{% extends "layout.html" %}

{% block header %}
    <header class="masthead"
            {#            style="background-image: url({{ url_for('static', filename='home-bg.jpg') }})">#}
            style="background-image: url({{ url_for('static', filename='img/hundarna1.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Hezky Cesky</h1>
                        <span class="subheading">Nase chovatelska stanice</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ url_for('post', post_id=post.id) }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.subtitle }}
                            </h3>
                        </a>
                        <p class="post-meta">Od
                            <a href="#">{{ post.author }}</a>
                            - {{ post.date_posted }}</p>
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


